---
- name: Setfact for repo version
  set_fact:
    git_repo_version: "master"
  when: git_repo_version is not defined

- name: Get the environment variables
  include_role:
    name: ar_os_environment
  vars:
    ar_os_environment_name:        "{{ environment_name }}"
    ar_os_environment_git_ssh_key: "{{ git_credentials[git_repo_url].ssh_key | default('') }}"
    ar_os_environment_git_repo:    "{{ git_repo_url }}"
    ar_os_environment_git_version: "{{ git_repo_version }}"
