---
- set_fact:
    credential_file_path: "{{ varfiles_dir }}/openshift-credentials.vault"

- stat:
    path: "{{ credential_vault }}"
  register: credential_vault_result
  when: credential_vault is defined

- fail:
    msg: "'credential_vault' is defined but does not exist ({{ credential_vault }})"
  when: credential_vault is defined and not credential_vault_result.stat.exists

- include_vars: "{{ credential_vault }}"
  when: credential_vault is defined

- include_vars: "{{ credential_file_path }}"
  when: credential_vault is not defined
