---
secrets:
{% set default_amq_password = lookup('password', '/dev/null length=25 chars=ascii_letters') %}
{% set default_ic_password = lookup('password', '/dev/null length=25 chars=ascii_letters') %}
{% set json_str = '{ "viewer": "' + lookup('password', '/dev/null length=12 chars=ascii_letters') + '", "user": "' + lookup('password', '/dev/null length=16 chars=ascii_letters') + '" }' %}
{% set default_broker_passwords = json_str | from_json %}
{% for app_instance in app_target_instances %}
  {{ app_instance.name | lower }}:
    amq_admin_username: '{{ amq_admin_username | default(app_instance.name | lower + '-admin') }}'
    amq_admin_password: '{{ amq_admin_password | default(default_amq_password) }}'
    ic_username: '{{ ic_username | default('icuser') }}'
    ic_password: '{{ ic_password | default(default_ic_password) }}'
    amq_url: '{{ app_instance.name | lower }}-broker-amq-amqp.{{ app_instance | app_namespace(deployment_phase) }}.svc'
    tls_key: '{{ lookup('file', local_key_path +  '/' + app_instance.name + '.key') | b64encode }}'
{% for broker_user in broker_users %}
    {{ broker_user.name }}: '{{ default_broker_passwords[broker_user.role] }}'
{% endfor %}
{% endfor %}
aspera_secrets:
  aspera_password: '{{ lookup('password', '/dev/null length=25 chars=ascii_letters') }}'
