---
- name: Deploy Aspera Containers
  hosts: localhost

  vars_files:
    - gitcredentials.vault

  vars:
    tasks: 'main'

  tasks:
    - include_tasks: ../tasks/ensure_environment_vars.yml
    - include_tasks: ../tasks/load_credential_vault.yml

    - name: "Generate the aspera config for each instance"
      include_role:
        name: ar_osc_aspera
        tasks_from: "{{ tasks }}"
      vars:
        ar_osc_aspera_ns:                        "{{ ar_osc_aspera_instance | app_namespace(deployment_phase) }}"
        ar_osc_aspera_name:                      "{{ ar_osc_aspera_instance | app_common_name }}"
        ar_osc_aspera_config_dest:               "{{ generated_config_path }}/{{ ar_osc_aspera_instance | app_common_name }}"
        ar_osc_aspera_k8s_template:              "{{ ar_osc_aspera_instance.aspera_template | default(aspera_template) }}"
        ar_osc_aspera_docker_registry:           "{{ ar_osc_aspera_instance.docker_registry | default(docker_registry) }}"
        ar_osc_aspera_package_base_url:          "{{ ar_osc_aspera_instance.package_repository | default(package_repository) }}"
        ar_osc_aspera_docker_registry_dest_path: "{{ ar_osc_aspera_instance.aspera_image_ns | default(aspera_image_ns) }}"
        ar_osc_aspera_node_selector:             "{{ ar_osc_aspera_instance.node_selector | default(None) }}"
        ar_osc_aspera_serviceaccounts:           "{{ ar_osc_aspera_instance.aspera_serviceaccounts | default(aspera_serviceaccounts) }}"
      when: "ar_osc_aspera_instance.incomingAddressList | length > 0"
      with_items:
        - "{{ app_target_instances }}"
      loop_control:
        loop_var: ar_osc_aspera_instance
      tags:
        - all

    - include_tasks: ../tasks/checkpoint_environment_vars.yml
