---
# Login to OpenShift

- name: Login to OpenShift
  hosts: localhost
  force_handlers: True

  vars_files:
    - gitcredentials.vault

  tasks:
    - include_tasks: ../tasks/ensure_environment_vars.yml
    - include_tasks: ../tasks/load_credential_vault.yml

    - set_fact:
        _oc_login_url: "{{ app_target_instances[0]['oc_login_url'] | default(oc_login_url) }}"

    - name: "Assert OpenShift Login URL provided"
      assert:
        that:
          - "_oc_login_url is defined"

    - name: Login to OpenShift
      include_role:
        name: ar_os_common
        tasks_from: login
      vars:
        ar_os_common_openshift_login_url: "{{ _oc_login_url }}"
