---
# Login to OpenShift

- name: Login to OpenShift
  hosts: localhost

  vars:
    app_target_instance_names: "{{ targets | default(app_instances | json_query('[*].name')) }}"
    app_target_instances: "{{ app_instances | select_from_array_of_dicts('name', app_target_instance_names) }}"

  vars_files:
    - "{{ app_instances_file }}"

  tasks:
    - set_fact:
        _oc_login_url: "{{ app_target_instances[0]['oc_login_url'] | default(oc_login_url) }}"

    - name: "Assert OpenShift Login URL provided"
      assert:
        that:
          - "_oc_login_url is defined"

    - name: Login to OpenShift
      include_role:
        name: ar_os_common
        tasks_from: login
      vars:
        ar_os_common_openshift_login_url: "{{ _oc_login_url }}"
