---
- name: Reset secrets and keys for applications in an environment
  hosts: localhost

  vars_files:
    - gitcredentials.vault

  vars:
    reset_secrets: false

  tasks:
    - include_tasks: ../tasks/ensure_environment_vars.yml
    - include_tasks: ../tasks/load_credential_vault.yml

    - name: Get the environment variables
      include_role:
        name: ar_os_environment
        tasks_from: reset-secrets.yml
      vars:
        ar_os_environment_name:        "{{ environment_name }}"
        ar_os_environment_git_ssh_key: "{{ git_credentials[git_repo_url].ssh_key }}"
        ar_os_environment_git_repo:    "{{ git_repo_url }}"
        ar_os_environment_git_dest:    "{{ git_repo_dir }}"
        ar_os_environment_git_version: "{{ git_repo_version }}"
      when: reset_secrets | bool
