---
# Requires vars:
#   external_registry: { host: '<the registry host>', port: '<the registry port>'}
# e.g. on command line:
#   --extra-vars '{"external_registry": { "host": "docker-registry-default.t2.training.local", port: "443"}}'

- name: Obtain Registry Certificate
  hosts: localhost

  tasks:
    - include_tasks: ../tasks/load_credential_vault.yml

    - name: Include common role to get certificates
      include_role:
        name: ar_os_common
        tasks_from: get-cert
      vars:
        ar_os_common_cert_host: "{{ item.split(':')[0] }}"
        ar_os_common_cert_port: "{{ item.split(':')[1] | default('443') }}"
        ar_os_common_cert_path: "/tmp/certificate-{{ item }}.crt"
      with_items: "{{ registry_login_credentials | dict2items | map(attribute='key') | list }}"


- name: Place Registry Certificate
  hosts: "{{ target }}"
  become: true

  tasks:
    - include_tasks: ../tasks/load_credential_vault.yml

    - name: Include common role to get certificates
      include_role:
        name: ar_os_common
        tasks_from: place-registry-cert
      vars:
        ar_os_common_cert_host: "{{ item.split(':')[0] }}"
        ar_os_common_cert_port: "{{ item.split(':')[1] | default('443') }}"
        ar_os_common_cert_path: "/tmp/certificate-{{ item }}.crt"
      with_items: "{{ registry_login_credentials | dict2items | map(attribute='key') | list }}"

    - name: Include common role to update registry list
      include_role:
        name: ar_os_common
        tasks_from: registry-list
      vars:
        ar_os_common_registry_list: "{{ registry_login_credentials | dict2items | map(attribute='key') | list }}"
